/* about main css start  */

.about-area{
    background-image: url(../../image/banner-bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title{
    font-size: 40px;
    color: hsl(239, 93%, 54%);
}

.about-us-details {
    margin-top:60px ;
}
.about-us-details h3{
    font-size: 30px;
    text-align: center;

}

.about-us-details p{
    text-align: center;
    font-size: 16px;
}

/* about main css end */