/* footer main css start*/

.footer-area{
    background-color: hsl(6, 2%, 2%);
    padding: 60px 0;
}

.footer-title h2{
    color: #fff;
    font-size: 48px;
}
.footer-title p{
    color: #fff;
    font-size: 16px;
}

.footer-menu li{
list-style: none;
padding: 0 10px ;
color: #fff;
font-size: 14px;
}

.footer-social-icon i{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #ddd;
    display:inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.footer-area{
    margin-top: 60px;
}

/* footer main css end  */

/* media query  */

@media(max-width:688px){
    .footer-menu{
        flex-direction: column;
    }

    .footer-title{
        text-align: center;
    }
}